body {
    font-family: Arial;
    background-image: url(../background.jpg);
}

footer {
    background-color: darkslateblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer-title {
    font-size: small;
}

a {
    color: yellowgreen;
}